body{
	margin:0px;
	height: 1000px;
	object-fit: fill;
}
header{
	margin: auto;	
	overflow: hidden;
	text-align: center;	color:white;
	background-image: url("4.jpg");
	font-size: 16px;
	margin: 0px
}
#profile-info{
	border: 2px solid black;
	height: 324px; background: white;
}
#dp{
	float: left;
	margin: 10px 10px 10px 10px;
	width: 300px;
	height: 300px;
	border: 2px solid #000
}
#name1{
	font: 50px helvetica; font-weight: bolder;
	display: inline; position: relative;
	left: 150px; top: 134px;
	color: rgb(0,0,0,0.6);
}
#name2{
	font: 50px helvetica; font-weight: bolder;
	display: inline; position: absolute;
	left: 479px; top: 182px;
	color: rgb(0,0,0,0.6);
}
#load-dp{
	height: 50px; width: 50px;
	left: 400px; margin-top: 136px;
	position: absolute;
}
#navigation{
	margin: 50px 0px 50px 0px;
}
#navigation button{
	background-image: url("6.jpg");
	height: 50px; width: 200px;
	border: 2px black solid; 
}
#navigation a{
	color: black;
	font: 20px; font-weight: bolder;
	text-decoration: none;
}
#b1{
	margin-left: 150px;
	margin-right: 150px;
}
#b3{
	margin-left: 150px;
	margin-right:150px;
}
#introduction{
	margin-left: 50%;
}
#quote{
	margin: 0px 500px;
	font-size: 16px;
	left: 50%;
}
.social{
	margin: 50px 150px 50px 440px;
	left: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  width: 20px;
  height: 20px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  margin-right: 22px; margin-left: 22px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#295AEB 90%);
  color: white;
  margin-left: 22px;
}